<CardDeck Margin="Margin.Is2">
    <Card>
        <CardImage Height="Height.Is100" Source="/img/mainpage/1.jpg"></CardImage>
        <CardBody>
            <CardTitle Size="2" TextAlignment="TextAlignment.Center">Информация <br />об осужденном</CardTitle>
            <CardText TextAlignment="TextAlignment.Justified" TextOverflow="TextOverflow.Wrap">

            </CardText>
            <Button Color="Color.Primary" Type="ButtonType.Link" Size="Size.Large" To="/common">Перейти к просмотру</Button>
        </CardBody>
    </Card>
    <Card>
        <CardImage Source="/img/mainpage/2.jpg"></CardImage>
        <CardBody>
            <CardTitle Size="2" TextAlignment="TextAlignment.Center">Записаться <br />на прием</CardTitle>
            <CardText TextAlignment="TextAlignment.Justified" TextOverflow="TextOverflow.Wrap">

            </CardText>
            <Button Color="Color.Primary" Type="ButtonType.Link" Size="Size.Large" Block Outline>Записаться на прием <br />к адмистрации учреждения</Button>
        </CardBody>
    </Card>
    <Card>
        <CardImage Source="/img/mainpage/3.jpg"></CardImage>
        <CardBody>
            <CardTitle Size="2" TextAlignment="TextAlignment.Center">Справочная <br />информация</CardTitle>
            <CardText TextAlignment="TextAlignment.Justified" TextOverflow="TextOverflow.Wrap">

            </CardText>
            <Button Color="Color.Primary" Type="ButtonType.Link" Size="Size.Large" Block Outline>Посмотреть <br />справочную информацию</Button>
        </CardBody>
    </Card>
</CardDeck>

@code {

}
