@*<div class="spinner-border" role="status">
    <span class="visually-hidden">Загрузка данных...</span>
</div>*@

<SpinKit Type="SpinKitType.Chase" Color="#318cbc" Size="80px" Centered />

@code {

}
