<Table Hoverable Narrow Borderless>
    <TableBody>
        @for (int i = 0; i < Movings?.Count; ++i)
        {
            var index = (i + 1).ToString();
            var movingItem = Movings[i];
            <TableRow @key="@index">
                <TableRowHeader>@index</TableRowHeader>
                <TableRowCell>@movingItem?.Date</TableRowCell>
                <TableRowCell>@movingItem?.GroupId</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code {
    [Parameter] public List<MovingItem>? Movings { get; set; }
}
