@using wSHSApp.Areas.Identity.Data

@inject SignInManager<AkusUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Основная информация</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.RoleNavClass(ViewContext)" id="email" asp-page="./Role">Группа пользователя</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Изменить пароль</a></li>
</ul>
