<BorderedItem Class="mt-1">
    <Row>
        <Column ColumnSize="ColumnSize.Is8">
                <span><RadioGroup TValue="bool" Name="sort" Buttons CheckedValue="@СheckedValue" CheckedValueChanged="@OnCheckedValueChanged">
                    <Radio Value="@false">По возрастанию <span class="oi oi-sort-ascending" aria-hidden="true"></span></Radio>
                    <Radio Value="@true"><span class="oi oi-sort-descending" aria-hidden="true"></span> По убыванию</Radio>
                </RadioGroup>
                @Text</span>
        </Column>
        <AuthorizeView>
            <Column ColumnSize="ColumnSize.Is4">
                <ReportButton />
            </Column>
        </AuthorizeView>
    </Row>
</BorderedItem>

@code {
    [Parameter] public EventCallback<bool> OnCheckCallback { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public bool СheckedValue { get; set; } = false;

    Task OnCheckedValueChanged(bool value)
    {
        СheckedValue = value;
        OnCheckCallback.InvokeAsync(value);
        return Task.CompletedTask;
    }

}
